data/
dataM13/
dataAlphaP/
*.out
*.npz
*/*.npz
basedata13/
__pycache__/
*.zip
*.log
*.npz.zip
*.ipynb
model13_results/*
model*results/*
*results/*
testintegration_model13_results/*
testintegration_model13/*
testintegration_model1_results/*
testintegration_model1/*
test*results/*
model13/*
datamodel13/*
datamodel1/*
wandb
.wandb_key
logs
